html,
body {
    width: 100%;
    height: 100%;
    min-width: 300px;
}

.navbar-brand {
    font-size: 18px;
    font-weight: bold;
}

p {
    font-size: 14px;
}

h5,
h6 {
    font-size: 14px;
    font-weight: bold;
}

.media img {
    width: 168px;
    height: 94px;
}

#videoList li:hover {
    border-left: 6px solid crimson;
    border-right: 6px solid crimson;
    cursor: pointer;
    transform: scale(1.07)
}

.card-img-top {
    height: 25vw;
    object-fit: cover;
}

.card-title {
    font-size: 30px;
}

.card-text {
    font-size: 18px;
}


.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: 5px solid lightskyblue;
    transition: top, left, right, bottom, 200ms ease-in-out;
}

.card:hover::before, 
.card:focus::before {
  top: -10px;
  bottom: -10px;
  left: -10px;
  right: -10px
}